@model IEnumerable<MVCEventCalendar.classroomsAndResource_Result1>

<body style="background-image:url(../../Content/Images/2.jpg)">
    <div style="margin-left:20%">
        

        <table class="table" style="width:800px;background-color:white;opacity:0.9">
           <tr>
               <td></td>
               <td style="font-size:30px">
                   Resources Details List
               </td>
               </tr> 
            
            <tr style="background-color:#0094ff;" class="table-bordered">

                <th>
                    @Html.DisplayNameFor(model => model.ClassRoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResourceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResourceQuantity)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ClassRoomName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResourceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResourceQuantity)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteClassRoomDetails", new { id = item.DetailsId }, new { @class = "btn btn-danger" })

                    </td>
                </tr>
            }

        </table>
        <a href="/Home/Index" class="btn btn-danger">
            Cancel
        </a>
    </div>
</body>